textarea#text {
  display: block;
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 0;
  min-height: 4lh;
  font-family: var(--default-font-family);
  resize: none;
  outline: none;
}

textarea#text::placeholder {
  color: var(--gray-11);
}

.composer-input-card-container {
  border-radius: var(--radius-4);
}
