textarea#text {
  display: block;
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 0;
  min-height: 4lh;
  font-family: var(--default-font-family);
  resize: none;
  outline: none;

  &::placeholder {
    color: var(--gray-11);
  }
}

.composer-input__card:has(textarea:focus-visible) {
  outline-offset: -1px;
  outline: 2px solid var(--focus-8);
}
